<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- Hibernate se conecteaza la baza de date in cadrul unei sesiuni -->
    <session-factory>
        <!-- Datele de configurare pentru orice sesiune creata de hibernate cu baza noastra de date -->
        <!-- Dialectul de baza de data folosit: mySql, oracle, postgres -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Driverul pentru baza de date : jdbc -->
        <!--
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        -->

        <!-- Adresa bazei de date -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school_db</property>
        <!-- Userul pentru conectarea la baza de date -->
        <property name="hibernate.connection.username">root</property>
        <!-- Parola pentru conectarea la baza de date -->
        <property name="hibernate.connection.password">4991</property>

        <!-- Proprietate care forteaza Hibernate sa afiseze queriurile rulata in baza de date -->
        <!--
        <property name="show_sql">true</property>
        -->

        <!-- Specificam care sunt clasele care sunt mapate cu un tabel din baza de date -->
        <mapping class="persistence.entities.Student"/>
        <mapping class="persistence.entities.Address"/>
        <mapping class="persistence.entities.Teacher"/>
        <mapping class="persistence.entities.Group"/>
        <mapping class="persistence.entities.Identificator"/>

    </session-factory>
</hibernate-configuration>